* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #0c0b0b;
}

:root {
    --green-color: green;
    --sec-color: black;
}
.item{
    display: absolute;
}
.dropdown {
    position: relative;
    display: block;
    font-size: 16px;
    cursor: pointer;
}
.dropdown ul{
    list-style: none;
    width: 124px;
}
.dropdown ul li{
    background-color: green;
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    height: 30px;
}
.navbar {
    background-color: green;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 26px;
    height: 70px;
    width: 100%;
    text-align: center;
    align-self: center;
    line-height: 70px;
}

.search-bar {
    line-height: 50px;
    align-self: center;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: rgb(74, 72, 72);
    outline: 1px solid rgb(67, 66, 66);
    box-shadow: 0px 4px 6px rgba(210, 210, 210, 0.1);
}

.search-bar input {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 0px;
    padding: 5px;
    font-size: 16px;
    border-radius: 28px;
    color: white;
    background-color: gray;
    cursor:grabbing;
    
}

.search-bar1 {
    color: white;
    text-decoration-color: #f4f4f4;
}

.info {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-weight: bold;
    height: 60px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    overflow-wrap:anywhere;
}

.box {
    color: white;
    border: none;
    border-radius: 100px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    cursor: none;
}

.box:hover {
    background-color: green;
    
}
.box{
    transition: transform 0.3s ease;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
}
.box:hover{
    transform:translateY(-4px);
}
.box:active{
    transform:translateY(0px);
}

.background img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;    
}