body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

div {
    margin: 10px auto 10px auto;
    background-color: floralwhite;
    height: 80vh;
    width: 80vh;
    border: 1px solid black;
    align-items: center;
    display: flex;
    flex-direction: column;
}

btn{
    padding: 10px;
}
input {
    margin-bottom: 5px;
}


button:hover {
    background-color: blueviolet;
}