body {
    text-align: center;
}

.btn-container {
    display: flex;
    flex-direction: column;

}

.btn {
    border: 10px black solid;
    height: 200px;
    width: 200px;
    margin: 2.5rem;
    border-radius: 20%;
    display: inline-block;
}

.red {
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}

.flash{
    background-color: aliceblue;
}